<html>
  <head>
    <title>PL RPG</title>
    <script type="text/javascript" src="json2.js"></script>
    <script type="text/javascript" src="jquery-min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="backbone-min.js"></script>
    <script type="text/javascript" src="backbone-localstorage.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!-- Templates -->
    <script type="text/template" id="member-template">
	<td>
	  <input type="text"
		 placeholder="Member Name"
		 class="member-input"
		 value="<%= name ? name : '' %>"
		 />
	</td>
	<td class="admin-only">
	  <input type="text"
		 placeholder="0"
		 class="member-input"
		 value="<%= modifier ? modifier : '' %>"/>
	</td>
	<td class="admin-only">
	  <input type="text"
		 placeholder="0"
		 class="member-input"
		 value="<%= card_modifier ? card_modifier : '' %>"/>
	</td>
	<td class="admin-only">
	  <span class="member-day-progress">
	  <%= last_progress ? last_progress : 0 %>
	  </span>
	</td>
	<td>
	  <span class="member-day-total">
	    <%= last_total ? last_total : 0 %>
	  </span>
	</td>
	<td>
	  <a href="#" class="delete-member">Delete</a>
	</td>
    </script>
  </head>
  <body>
    <div id="members-app">
      <table id="member-list" class=".one-column-emphasis">
	<thead>
	  <tr>
	    <th>Member Name</th>
	    <th class="admin-only">Modifier</th>
	    <th class="admin-only">Card Modifier</th>
	    <th class="admin-only">Today's progress</th>
	    <th>Today's total</th>
	    <th>Actions</th>	    
	  </tr>
	</thead>
	<tfoot>
	  <tr>
	    <td>Total</td>
	    <td class="admin-only"></td>
	    <td class="admin-only"></td>
	    <td class="admin-only"></td>
	    <td><span id="total">0</span></td>
	    <td></td>
	  </tr>
	</tfoot>
      </table>
      <p>
	<a href="#" id="add-member">Add Member</a>
	<a href="#" id="refresh-total">Calculate daily progress</a>
	<a href="#" id="toggle-admin-fields">Toggle admin fields</a>
      </p>
      <p>
	Dice: <input type="text" value="10" id="dice-number" />
      </p>
    </div>
  </body>
</html>
